.resize-drag {
  box-sizing: border-box;
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 240px;
  padding: 0px !important;
}
.container-fluid , .col {
  padding: 0px !important;
}

.size {
  width: 16vw;
}

.resize-drag {
  padding: 0vw 0.4vw 0.8vw 0.4vw /* Ici pour modifier les interlignes */
}